#leaflet-map {
	height: 350px;

}

.views-field a:link {
	color: indigo;
}
.views-field a:visited {
        color: indigo;
}
.views-field a:hover {
        color: blue;
}

.view-content ul {
  list-style-type: none;
}

.aen a:link {
        color: indigo;
}
.aen a:visited {
        color: indigo;
}
.aen a:hover {
        color: blue;
}

.aen table th  a:link {
        color: white !important;
}
.aen table th a:visited {
        color: white !important;
}
.aen table th a:hover {
        color: grey !important;
}

/*
* Remove bullets from facet checkboxes
*/
ul.js-facets-checkbox-links {
  list-style-type: none;


}
.aen-details {
   border-color: black !important;
   border-width: 1px !important;
   border-style: solid !important;
   padding: 8px 16px !important;
   margin-top: 16px !important;;
   margin-bottom: 16px !important;
   }
